.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #282828;
  color: #DFDFDF;
  text-align: center;
}

.title {
  margin-bottom: 15px;
}

.title h1 {
  margin: 0;
  padding: 0;
}


.user-details {
  text-align: right;
  position: absolute;
  top: 5%;
  right: 2%;
}

.user-details i {
  cursor: pointer;
  color: #DFDFDF;
}


@media screen and (max-width:480px) {
  .header {
    text-align: left;
  }

  .title {
    padding-left: 15%;
  }
}

