ul {
  padding: 0;
  margin: 0;
}

.navbar  ul  a .nav-item {
  display: inline-block;
  text-align: center;
  border-right: 1px solid white;
  width: 33%;
}

.nav-item:last-child {
  border-right: none;
}

.nav-item:hover {
  cursor: pointer;
}

.navbar > ul > a.active {
  color: gold;
}


@media screen and (max-width:480px) {
  .nav-item {
    font-size: 13px;
    margin-bottom: 2%;
  }
  /* .navbar {
    padding-left: 10%;
  } */
}